<%- include("../admin/layouts/admin_header.ejs")%>
            <!-- Navbar End -->


            <!-- Table Start -->
            




                    <div class="col-12">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">User Details</h6>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">NO</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Mobile</th>
                                            <th scope="col">varify status</th>
                                            <th scope="col">block status</th>
                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%
                                          if(users.length>0){
       
                                            for(let i=0;i < users.length;i++){
                                                                         %>
                                        <tr>
                                            <th scope="row"><%=i+1 %></th>
                                            <td><%= users[i].name %></td>
                                            <td><%= users[i].email %></td>
                                            <td><%= users[i].mob %></td>
                                            <%if( users[i].is_varified ){%>
                                            <td>verified</td>
                                            <%}else{%>
                                                <td style="color: red;">Notverified</td>
                                            
                                            <%}%>
                                            <% if(users[i].is_block==1){ %>
                                                <td><button class="btn btn-danger btn-lg btn-block"> <a style="color: aliceblue;" href="/admin/block-user?id=<%= users[i]._id %>"> unblock </a></button></td>

                                            <% } else { %>
                                        
                                        
                                               
                                                <td><button class="btn btn-success btn-lg btn-block"> <a style="color: aliceblue;" href="/admin/block-user?id=<%= users[i]._id %>"> block </a></button></td>


                                        <% }   %>
                                
                                        
                                       

                              
                                            
                                        </tr>
                                        <%
            
                                    }
                            
                                } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Table End -->


            <script> document.getElementById("5").classList.add("active") </script>


            <%- include("../admin/layouts/admin_footer.ejs")%>