<%- include("../user/layout/userheader.ejs")%>
<div class="container">
  <div class="py-5 text-center">
    <h2>CHECKOUT</h2>
  </div>

  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">COUPON CODE</span>
      </h4>
      
      <form action="couponcheck" class="card p-2" method="post">
        <div class="input-group">
          <input
            name="coupon"
            type="text"
            class="form-control"
            placeholder="COUPON CODE"
            required
          />
          <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Redeem</button>
          </div>
        </div>
        <p style="color: RED"><%=message%> coupon discount:- <%=discount%></p>

        <% for(let i=0;i < Coupons.length;i++){%>
        <div  style="text-align: center;">
    

          <img style="height:40px;width:75px;" src="https://ecommerceguide.com/wp-content/uploads/2016/01/coupon-main.jpg" alt="">
          
          <p><%=Coupons[i].code%> <br><%=Coupons[i].expiryDate%></p>  
          
                 
         </div>
         <%}%>
      </form>
      
      <div
        style="
          max-width: 100%;
          background-color: #3b71ca;
          height: 20%;
          text-align: center;
        "
      >
        <h2 style="color: white">WALLET</h2>
        <div
          style="
            max-width: 50%;
            height: 30%;
            background-color: rgb(243, 240, 237);
          "
        >
          <h4><%=walletamount.walletbalance%></h4>
        </div>
      </div>
    </div>
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">BILLING ADDRESS</h4>
      <form id="checkout" class="needs-validation">
        <div class="row">
          <% if(addressdata!=undefined){%> <% for(let i=0; i <
          addressdata.address.length; i++) { %>
          <div class="col-md-6 offset-md-0 mb-3">
            <div class="card">
              <div class="card-body">
                <input
                  required
                  type="radio"
                  id="address-<%= i %>"
                  name="address"
                  value="<%= addressdata.address[i] %>"
                />
                <h6 class="card-title">
                  NAME: <%= addressdata.address[i].name %> <%=
                  addressdata.address[i].lastname %>
                </h6>
                <p class="card-text">
                  PHONE: <%= addressdata.address[i].phone %>
                </p>
                <p class="card-text">
                  PLACE: <%= addressdata.address[i].place %>
                </p>
                <p class="card-text">PIN: <%= addressdata.address[i].pin %></p>
                <p class="card-text">
                  <%= addressdata.address[i].fulladdress.toString().substring(0,5) %>
                </p>
                <a
                  href="/deleteadress?id=<%= addressdata.address[i]._id %>"
                  class="btn btn-danger mr-2"
                  >Delete</a
                >
                <a
                  href="/editadress?id=<%= addressdata.address[i]._id %>"
                  class="btn btn-primary"
                  >Edit</a
                >
              </div>
            </div>
          </div>
          <%}}%>
        </div>
        <a href="/addadress"
          ><button type="button" class="btn btn-success mb-3">
            Add new address
          </button></a
        >

        <hr class="mb-4" />
        <h4 class="mb-3">Payment</h4>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Select Payment Method</h5>
            <div class="form-check">
              <input
                id="credit"
                name="paymentMethod"
                type="radio"
                class="form-check-input"
                value="COD"
              />
              <label class="form-check-label" for="credit"
                >Cash on Delivery</label
              >
            </div>
            <div class="form-check">
              <input
                id="debit"
                name="paymentMethod"
                type="radio"
                class="form-check-input"
                value="ONLINE"
              />
              <label class="form-check-label" for="debit">UPI Payment</label>
            </div>
          </div>
        </div>
        <input type="hidden" id="discount" value="<%=discount%>" />
        <input type="hidden" id="total1" value="<%=Total%>" />
        <hr class="mb-4" />
        <button type="submit" class="btn btn-primary btn-lg">
          Continue to Checkout
        </button>
      </form>
    </div>
  </div>
</div>

<%- include("../user/layout/userfooter.ejs")%>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
  $("#checkout").submit((e) => {
    let address = $("input[name=address]:checked").val();
    let paymentMethod = $("input[name=paymentMethod]:checked").val();
    let discount = document.getElementById("discount").value;
    e.preventDefault();
    $.ajax({
      url: "/checkout",
      method: "post",
      data: {
        address: address,
        paymentMethod: paymentMethod,
        discount: discount,
      },
      success: (response) => {
        if (response.success) {
          location.href = "/orderSuccess";
        } else {
          razorpayPayment(response.order);
        }
      },
    });
  });
  function razorpayPayment(order) {
    var options = {
      key: "rzp_test_zm2sqh9UiAQ8QG", // Enter the Key ID generated from the Dashboard
      amount: order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
      currency: "INR",
      name: "GLOBAL CYCLE", //your business name
      description: "Test Transaction",
      image: "https://example.com/your_logo",
      order_id: order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
      handler: function (response) {
        
        verifyPayment(response, order);
      },
      prefill: {
        name: "Gaurav Kumar", //your customer's name
        email: "gaurav.kumar@example.com",
        contact: "9000090000",
      },
      notes: {
        address: "Razorpay Corporate Office",
      },
      theme: {
        color: "#3399cc",
      },
    };
    var rzp1 = new Razorpay(options);
    rzp1.open();
  }
  function verifyPayment(payment, order) {
    const amount = document.getElementById("total1").value;

    $.ajax({
      url: "/verifyPayment",
      method: "post",
      data: {
        payment,
        amount,
        order,
      },
      success: (response) => {
        if (response.success) {
          location.href = "/orderSuccess";
        } else {
          alert("payment failed");
          location.href = "/home";
        }
      },
    });
  }
</script>

<style>
  .container {
    max-width: 960px;
  }

  .lh-condensed {
    line-height: 1.25;
  }
</style>
