<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
      crossorigin="anonymous"
    />

    <!-- Optional theme -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
      integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
      crossorigin="anonymous"
    />

    <!-- Bootstrap CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->

    <link rel="stylesheet" href="/user/assets/css/invoicestyle.css" />

    <title>TZ Invoice</title>
  </head>
  <body>
    <div class="container bootstrap snippets bootdey">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-sm-3 text-left">
              <h4><strong></strong> Details</h4>
              <ul class="list-unstyled">
                <li><strong> Name:</strong> <%=report.user%></li>
                <li>
                  <strong>Address:</strong>
                  <%=report.deliverydetails.toString().substring(3,20)%> <br />
                  <%=report.deliverydetails.toString().substring(21,45)%>
                  <br /><%=report.deliverydetails.toString().substring(46,80)%>
                  <br /><%=report.deliverydetails.toString().substring(81,102)%>
                  <br /><%=report.deliverydetails.toString().substring(102,135)%>
                </li>
              </ul>
            </div>

            <div class="col-md-6 col-sm-6 text-right">
              <ul class="list-unstyled">
                <li><strong>GLOBAL CYCLE</strong></li>
                <li><strong>Phone:</strong> 1-800-565-2390</li>
                <li><strong>Email:</strong> support@yourname.com</li>
                <li><strong>FAX:</strong> 1-800-565-2390</li>
              </ul>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-condensed nomargin">
              <thead>
                <tr>
                  <th>sl</th>
                  <th>Item Name</th>
                  <th></th>
                  <th></th>
                  <th>Quantity</th>
                  <th>Unit Price</th>
                  <th>Total Price</th>
                </tr>
              </thead>
              <tbody>
                <% data.forEach((value,index)=>{%>

                <tr>
                  <td><%= index+1%></td>
                  <td>
                    <div><strong><%=value.productId.name %></strong></div>
                  </td>
                  <td></td>
                  <td></td>

                  <td><%=value.quantity %></td>
                  <td><%=value.productId.prize %></td>

                  <td><%= value.quantity* value.productId.prize%></td>
                </tr>

                <%})%>
              </tbody>
            </table>
          </div>

          <hr class="nomargin-top" />
          <div class="row">
            <div class="col-sm-6 text-right">
              <ul class="list-unstyled">
                <li>
                  <strong>Sub - Total Amount:</strong><%=report.totalamount%>
                </li>
                <li><strong>Discount:</strong> 00.0%</li>
                <li><strong>Grand Total:</strong> <%=report.totalamount%></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default text-right">
        <div class="panel-body">
          <% if(report.status== "CANCELED"){%>

          <h3 style="color: red">This order Cancelled..</h3>

          <%}else{%>

          <h3>Thank You Visit Again..</h3>

          <%}%>
        </div>
      </div>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
