<%- include("../user/layout/userheader.ejs")%>

<section class="vh-100" style="background-color: #b8bfc0">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-md-9 col-lg-7 col-xl-5">
        <div class="card" style="width: 100%">
          <div
            style="background-color: #efefef; text-align: center"
            class="card card-block"
            style="width: 10rem; text-align: center"
          >
            <p style="color: rgb(32, 183, 230)" class="card-text">
              WALLET BALANCE
            </p>
            <h5 class="card-title">RS:<%=walletbalanc%></h5>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
          <div class="card-body p-4">
            <div class="d-flex text-black">
              <div class="flex-shrink-0">
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                  alt="Generic placeholder image"
                  class="img-fluid"
                  style="width: 180px; border-radius: 10px"
                />
              </div>
              <div style="width: 60%; padding-left: 1%">
                <h5 class="mb-1"><%=userprofile.name%></h5>
                <p class="mb-2 pb-1" style="color: #2b2a2a">
                  <%=userprofile.email%>
                </p>

                <p class="mb-2 pb-1" style="color: #2b2a2a">
                  <%=userprofile.mob%>
                </p>
                <%if(useraddress!=0){%>
                <P>ADDRESS <%=useraddress.address[0].fulladdress%></P>
                <%}else{%> <% }%>
                <div
                  class="d-flex justify-content-start rounded-3 p-2 mb-2"
                  style="background-color: #efefef"
                >
                  <div class="px-3">
                    <p class="small text-muted mb-1"></p>
                    <p class="mb-0"></p>
                  </div>
                  <div>
                    <p class="mb-2 pb-1" style="color: #2b2a2a"></p>
                  </div>
                </div>
                <div class="d-flex pt-1">
                  <a href="/editprofile?id=<%=userprofile._id%>">
                    <button
                      type="button"
                      class="btn btn-outline-primary me-1 flex-grow-1"
                    >
                      EDIT
                    </button></a
                  >
                  <a href="/home">
                    <button type="button" class="btn btn-primary flex-grow-1">
                      BACK
                    </button></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("../user/layout/userfooter.ejs")%>
