<%- include("../user/layout/userheader.ejs")%>
<div  class="nav-item dropdown">
                
    <div style="padding-left: 50%;">  <a style="color: #dfe1ec;font-size: larger;" href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i  class="far fa-file-alt me-2"></i>CATEGORY</a>
   
     <div  class="dropdown-menu bg-transparent border-20">
         <% for(let i=0;i < category1.length;i++){%>
       <h4>  <a  style="background-color: #5e7971;" href="/category?name=<%= category1[i].name %>" class="dropdown-item" ><%=category1[i].name%></a></h4>
         <%}%>
     </div>
  
 </div>




    <!-- ------------------------------------------------------------------------------------------------------------- -->
    <div class="row">
   
    <% for(let i=0;i < selectedproduct.length;i++){%>
    <div class="col-md-4 mt-2">
     
         
         <div  class="card">
                             <div  class="card-body">
                                 <div   class="card-img-actions">
                                   
                                         <img  src="../images/<%=selectedproduct[i].image[0]%>" class="card-img img-fluid" width="96" height="350" alt="">
                                       
                                    
                                 </div>
                             </div>

                             <div class="card-body bg-light text-center">
                                 <div class="mb-2">
                                     <h6 class="font-weight-semibold mb-2">
                                         <a href="#" class="text-default mb-2" data-abc="true"><%=selectedproduct[i].name%></a>
                                     </h6>

                                     <a href="#" class="text-muted" data-abc="true">RATE:-<%=selectedproduct[i].prize%></a>
                                 </div>

                                 <h3 class="mb-0 font-weight-semibold">Only <%=selectedproduct[i].Quantity%> are left</h3>

                                 <div>
                                    <i class="fa fa-star star"></i>
                                   
                                 </div>

                                 <div class="text-muted mb-3">34 reviews</div>

                                 <button onclick="showid('<%=selectedproduct[i]._id%>')" type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>

                                 <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> BUY NOW</button>

                             </div>
                             <button  type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> <a href="/view-products?id=<%= selectedproduct[i]._id %>"> VIEW PRODUCT</a></button>
                         </div>


                     
                      
    </div> 
    <%}%>
<!-- ---------------------------------------------------------------------------------------------------------------------------- -->



 
</div>






 <%- include("../user/layout/userfooter.ejs")%>

<style>
   body {
    margin: 0;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1.5385;
    color: #333;
    text-align: left;
    background-color: #748ca0;
}

.mt-50{

    margin-top: 50px;
}

.mb-50{

    margin-bottom: 50px;
}



.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .1875rem;
}

.card-img-actions {
    position: relative;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    text-align: center;
}

.card-img{

    width: 350px;
}

.star{
        color: red;
}

.bg-cart {
    background-color:orange;
    color:#fff;
}

.bg-cart:hover {
    
    color:#fff;
}

.bg-buy {
    background-color:green;
    color:#fff;
    padding-right: 29px;
}
.bg-buy:hover {
    
    color:#fff;
}

a{

    text-decoration: none !important;
}
 </style>


<script>
 
    function showid(id){
        console.log(id);
        $.ajax({
            url:"/addtocart",
            method:"post",
            data:{
                id:id
            },
            success:(response)=>{
                if(response.success){
                    swal.fire({
                        position:"center",
                        icon:"success",
                        title:'product add to cart',
                        showConfirmaButton:false,
                        timer:1500
                    })
                }
            }
        })
    
    
    
    }
    
      </script>